<div class="row">
    <div class="col-sm-9">
        <h2>
             <i class="fas fa-ghost"></i>
        </h2>
        <h1><%= @house[:address] %></h1>
        <p><%= @house[:description] %></p>
        <p>
            <iframe
            width="600"
            height="450"
            frameborder="0" style="border:0"
            src="https://www.google.com/maps" allowfullscreen>

            </iframe>
        </p>
        
    </div>
        <div class="col-sm-3">
            <h3>Candy?</h3>
            <p><%= @candy_avg %></p>
            <h3>Decorations?</h3>
            <p><%= @decorations_avg %></p>
            <h3>Votes:</h3>
            <p><%= @recommend_count %> <i class="fas fa-thumbs-up fa-2x mr-3"></i>
            <%= @not_recommend_count %> <i class="fas fa-thumbs-down fa-2x mr-3"></i>
            </p>
        </div>
</div>
    <div>
        <h4>Tell Others -->
            <class="mt-5">
                <a href="/houses/<%= @house[:id] %>/reviews/new" class="btn btn-warning">Leave a review!</a>
        </h4>
    </div>
    
    <div>
        <h4>No Candy? -->
            <class="mt-5">
                <a href="/nocandy" class="btn btn-danger">Sound the alarm!</a>
        </h4>
    </div>


